
body {
    background-color: var(--color-fondo);
    color: var(--color-fuente);
    font-size: var(--font-size);
}

:root {
    --color-fuente: #000;
    --color-fondo: #fff;
    --font-size: 12px;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    padding: 15px;
}

button {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border: solid;
    background-color: var(--color-fondo);
    color: var(--color-fuente);
    font-size: var(--font-size);
}

.col-2 {
    grid-column: span 2;
}

.col-4 {
    grid-column: span 4;
}

.display {
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    border: solid;
    text-align: right;
    background-color: var(--color-fondo);
    color: var(--color-fuente);
    font-size: var(--font-size);
}

[tema="lightgrande"] {
    --color-fuente: #000;
    --color-fondo: #fff;
    --font-size: 25px;
}

[tema="darkgrande"] {
    --color-fuente: #fff;
    --color-fondo: #000;
    --font-size: 25px;
}

[tema="lightnormal"] {
    --color-fuente: #000;
    --color-fondo: #fff;
    --font-size: 12px;
}

[tema="darknormal"] {
    --color-fuente: #fff;
    --color-fondo: #000;
    --font-size: 12px;
}
